.loading {
    bottom: 0;
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 3;
}
.loading >div {
	width: 18px;
	height: 18px;
	background-color: #c43927;
	border-radius: 100%;
	display: inline-block;
	-moz-animation: bouncedelay 1.4s infinite ease-in-out both;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
	animation: bouncedelay 1.4s infinite ease-in-out both;
}
.loading >div:nth-child(1) {
	-moz-animation-delay: -0.32s;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loading >div:nth-child(2) {
	-moz-animation-delay: -0.16s;
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-moz-keyframes bouncedelay {
	0%, 80%, 100% { 
		-moz-transform: scale(0.0) 
	}
	40% { 
		-moz-transform: scale(1.0) 
	}
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0.0) 
	}
	40% { 
		-webkit-transform: scale(1.0) 
	}
}
@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
/*Logo*/
#logo{
    position: relative;
}
#logo:hover .z{
    display: none;
}
#logo:hover #logo-cover{
    display:block;
}
#logo #logo-cover{
    display:none;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
}
.logo{
    width: 128px;
    height: 128px;
    background: url("img/logo.png");
}
@-moz-keyframes sleep
{
    from {
        opacity: 1;
        font-size: 1px;
    }
    to {
        opacity: 0;
        font-size: 30px;
        -moz-transform: translateX(-54px) translateY(-54px);
    }
}
@-webkit-keyframes sleep
{
    from {
        opacity: 1;
        font-size: 10px;
    }
    to {
        opacity: 0;
        font-size: 20px;
        -webkit-transform: translateX(-54px) translateY(-54px);
    }
}
@keyframes sleep
{
    from {
        opacity: 1;
        font-size: 10px;
    }
    to {
        opacity: 0;
        font-size: 20px;
        transform: translateX(-54px) translateY(-54px);
    }
}
.z{
    position:absolute;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    left:30px;
    top:50px;
    opacity: 0;
    -moz-transform-origin: 0 50% 0;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
    -moz-transition: translate 3s ease-in-out 0s;  
    -webkit-transition: translate 3s ease-in-out 0s;  
    transition: translate 3s ease-in-out 0s;  
    -moz-animation: 3s ease 1s normal none infinite running sleep;
    -webkit-animation: 3s ease 1s normal none infinite running sleep;
    animation: 3s ease 1s normal none infinite running sleep;
}
.z:nth-child(2){
    -moz-animation: 3s ease 2s normal none infinite running sleep;
    -webkit-animation: 3s ease 2s normal none infinite running sleep;
    animation: 3s ease 2s normal none infinite running sleep;
}
.z:nth-child(3){
    -moz-animation: 3s ease 3s normal none infinite running sleep;
    -webkit-animation: 3s ease 3s normal none infinite running sleep;
    animation: 3s ease 3s normal none infinite running sleep;
}

#view-source{
    background: none repeat scroll 0 0 #f5f2f0;
    box-shadow: none;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(900px);
    transition: all 0.25s ease 0s;
    width: 900px;
    z-index: 2;
}
#view-source.expanding{
    box-shadow: 1px 2px 4px #000;
    transform: none;
}
#collapsing{
    cursor: pointer;
    display: none;
    background: rgba(0,0,0,0.3);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}