@charset "utf-8";

html {
  background: #f0f0f0;
}

#notice_fx {
  color: #c7c79b;
  background-color: #dc533c;
}

#notice_fx a {
  color: #e0e049;
}


#close_notice_fx {
  color: #333;
}

header {
  background-color: #5e8ab1;
}

header h1 {
  color: #222;
}

header nav ul li a {
  color: #fff;
}