<!DOCTYPE html>
<html>
<head>
	<title>Firefox 吧项目组</title>
	<meta charset="utf-8" />
	<script class="redirect">location.replace('/#home');</script>
	<script class="exec">
	var disqus_config = function () {
		this.page.url = window.location.href;
		this.page.identifier = 'home';
	};
	(function() {
		if (typeof fxb === "undefined") return;
		var list = document.querySelector(".menber-list");
		fxb.ajax('/template/json/people.json', function(e) {
			var rt = JSON.parse(this.responseText);
			var html = "";
			rt.forEach(function(i) {
				html = html + ("<li><img src='" + i.avatar + "'><p><a href='" + i.url + "' target='_blank'>" + i.name + "</a></p></li>");
			});
			list.innerHTML = "<ul>" + html + "</ul>";
			Array.prototype.forEach.call(list.querySelectorAll("a"), function(i) {
				i.addEventListener("click", function() {
					_hmt.push(['_trackEvent', 'people', 'view', this.innerHTML]);
				}, false);
			});
		});
		document.addEventListener('DOMContentLoaded', function() {
			var s = document.createElement('script');
			s.src = 'https://firefoxbar.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			document.body.appendChild(s);
		});
  })();
  </script>
</head>
<body>
	<div>
		<h2>Firefox 吧项目组</h2>
		<p>Firefox 吧项目组是由百度 <a href="http://tieba.baidu.com/f?kw=firefox" target="_blank">Firefox吧</a> 吧友组成的组织。</p>
		<p>这里主要用于发布一些原创的浏览器脚本、样式、扩展等。</p>
		<p><a href="https://github.com/FirefoxBar/firefoxbar.github.io/issues/new" target="_blank">报告网站问题</a></p>
		<div class="join-us">
			<h2>加入我们</h2>
			<p>项目组地址：<a target="_blank" href="https://github.com/FirefoxBar">https://github.com/FirefoxBar</a></p>
		</div>
		<div class="menber">
			<h2>项目组成员</h2>
			<div class="menber-list"></div>
		</div>
	</div>
	<div id="ridicule">
		<h2>我要吐槽（╯‵□′）╯︵┴─┴ </h2>
		<div id="disqus_thread"></div>
	</div>
</body>
</html>