<!DOCTYPE html>
<html>
<head>
	<title>外部资源 - Firefox 吧项目组</title>
	<meta charset="utf-8">
	<style>
	.tips {
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid #bce8f1;
		border-radius: 4px;
  		background-color: #d9edf7;
 		color: #31708f;
		margin-bottom: 10px;
	}
	</style>
	<script class="redirect">location.replace('/#userstyles');</script>
    <script class="exec">
		var duoshuoQuery = { short_name: "firefoxbar" };
		(function() {
			if (typeof fxb === "undefined") return;
			var links = document.querySelector("#links-wrap");
			fxb.loading(true);
			fxb.ajax('/template/json/links.json',
			function(e) {
				fxb.loading(false);
				var rt = JSON.parse(this.responseText);
				var html = "";
				rt.forEach(function(i) {
					var cate = "<section class='links-cate'><h2>" + i.category + "</h2>";
					var linkList = i.links;
					var linkHTML = "";
					linkList.forEach(function(j) {
						linkHTML += "<li><a href='" + j.url + "' target='_blank'>";
						if (j.abandoned) {
							linkHTML += "<s>" + j.name + "</s>";
						} else {
							linkHTML += j.name;
						}
						linkHTML += "</a></li>";
					});
					linkHTML = "<ul>" + linkHTML + "</ul></section>";
					html += cate + linkHTML;
				});
				links.innerHTML = html;
			});
		})();
    </script>
</head>
<body>
	<div class="tips">提交链接请 Fork & Pull Request 到 <a href="https://github.com/FirefoxBar/firefoxbar.github.io/blob/master/template/json/links.json">https://github.com/FirefoxBar/firefoxbar.github.io/blob/master/template/json/links.json</a></div>
	<div id="links-wrap"></div>
</body>
</html>
