<!DOCTYPE html>
<html>
<head>
  <title>翻译协作 - Firefox 吧项目组</title>
  <meta charset="utf-8" />
  <script class="redirect">location.replace('/#translation');</script>
  <script class="exec">
    (function() {
		if (typeof fxb === "undefined") return;

		var hrefJSON = "http://firefox8-translation.stor.sinaapp.com/translation.json";
		var list = document.querySelector(".item-list table tbody");
		var menu = document.querySelector(".item-list ul");
		var view = document.querySelector("#view");
		var cps = document.querySelector("#collapsing");

        fxb.loading(true);
		fxb.ajax(hrefJSON + "?_r="+Math.random(),
		function(e) {
            fxb.loading(false);
            var manifest = JSON.parse(this.responseText);
			var html = "<tr><th>英文</th><th>中文</th><th>来自</th><th>状态</th><th>主编</th></tr>";
			var html_menu = '';
			manifest.forEach(function(item){ //TODO
				html_menu += '<li><a class="show-tab" data-short="' + item.short_name + '">' + item.name + '</a></li>';
				item.list.forEach(function(oneitem){
					if (oneitem.is_markdown) { //Markdown
						html += "<tr class='tab_item tab_" + item.short_name + "'>" +
						"<td><a class='button' href='" + oneitem.enURL + "' target='_blank'>查看原文</a>" +
						"<a class='view-markdown button' data-name='" + oneitem.cnURL + "'>查看译文</a></td>" +
						"<td><p>" + oneitem.cnTitle + "</p></td>" +
						"<td><p>" + oneitem.enTitle + "</p></td>" +
						"<td>" + oneitem.from + "</td>" +
						"<td>" + oneitem.status + "</td>" +
						"<td>" + oneitem.editor + "</td>" +
						"</tr>";
					} else {
						html += "<tr class='tab_item tab_" + item.short_name + "'>" +
						"<td><a class='button' href='" + oneitem.enURL + "' target='_blank'>查看原文</a>" +
						"<a class='button' href='" + oneitem.cnURL + "' target='_blank'>查看译文</a></td>" +
						"<td><p>" + oneitem.cnTitle + "</p></td>" +
						"<td><p>" + oneitem.enTitle + "</p></td>" +
						"<td>" + oneitem.from + "</td>" +
						"<td>" + oneitem.status + "</td>" +
						"<td>" + oneitem.editor + "</td>" +
						"</tr>";
					}
				});
			});
			list.innerHTML = html;
			menu.innerHTML = html_menu;
			var show_menu = menu.querySelectorAll(".show-tab");
            Array.prototype.forEach.call(show_menu,function(i){
                //i.addEventListener("click",getContent,false);
                i.addEventListener("click",showTab,false);
            });
			var show_markdown = list.querySelector('.view-markdown');
			Array.prototype.forEach.call(show_menu,function(i){
            });
        });
		
        cps.addEventListener("click",function(){
            view.innerHTML = "";
            view.classList.remove("expanding");
            cps.style.display = "none";
        },false);
		
		function showTab(e){
			var short_name = e.target.getAttribute('data-short');
			var now_show = list.querySelectorAll('.shown');
			var go_show = list.querySelectorAll('.tab_' + short_name);
			Array.prototype.forEach.call(now_show,function(i){
                i.style.display = 'none';
            });
			Array.prototype.forEach.call(go_show,function(i){
                i.style.display = 'table-row';
            });
		}
		
		function getContent(e){
            fxb.loading(true);
            var path = e.target.previousSibling.href.slice(52);
            setTimeout(function(){
                fxb.ajax("http://firefox8-translation.stor.sinaapp.com/" + path + "&_r="+Math.random(),
                function() {
                    fxb.loading(false);
                    var content = this.responseText;
					converter = new Showdown.converter();
					view.textContent = converter.makeHtml(content);
                }
            )},250);
            view.classList.add("expanding");
            cps.style.display = "block";            
        }

	})();
  </script>  
</head>
<body>
	<div>
		<h2>翻译协作</h2>
		<p>希望能通过众人协作翻译丰富火狐的中文资料。</p>
		<p>翻译材料来源包括但不限于 <a href="https://developer.mozilla.org/" target="_blank">MDN</a>。</p>
		<p>可自由认领翻译文章，无特殊偏好者也可与项目组成员讨论以决定标的。</p>
		<p>成果列出于下表：</p>
		<div class="item-list">
			<ul></ul>
			<table><tbody></tbody></table>
		</div>
	</div>
	<div id="view"></div>
    <div id="collapsing" title="关闭"></div>
	<script src="http://cdn.bootcss.com/showdown/0.3.1/showdown.min.js"></script>
</body>
</html>