<!DOCTYPE html>
<html>
<head>
  <title>Firefox吧项目组</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="keywords" content="用户脚本、用户样式、Firefox、Firefox吧、火狐吧">
  <meta name="description" content="Firefox吧项目组是百度Firefox吧吧友组成的组织，主要用于发布一些原创的浏览器脚本、样式、扩展等。Firefox吧项目组是百度Firefox吧吧友组成的组织，主要用于发布一些原创的浏览器脚本、样式、扩展等。">
  <link rel="stylesheet" href="assets/vendor/css/unsupported-browser.css">
  <link href="favicon.ico" rel="shortcut icon">
  <script>typeof new XMLHttpRequest().withCredentials === 'undefined' || location.replace('/');</script>
</head>
<body>
  <div class="unsupported-browser">  
    <img id="logo" src="img/logo.png">
    <h1>Firefox 吧项目组</h1>
    <p>不支持的浏览器 _(:з」∠)_</p>
    <p>建议使用：<a href="https://mozilla.org/firefox/">Mozilla Firefox 4+</a> , 
    <a href="https://chrome.google.com">Google Chrome 7+</a> , 
    <a href="http://windows.microsoft.com/ie">Internet Explorer 10+</a> .</p>
    <p><a href="http://tieba.baidu.com/f?kw=firefox">百度 Firefox 吧</a></p>
  </div>
</body>
</html>