<!DOCTYPE html>
<html>
<head>
	<title>用户脚本 - Firefox 吧项目组</title>
	<meta charset="utf-8" />
	<script class="redirect">location.replace('/#userscripts');</script>
	<script class="exec">
    (function() {
		if (typeof fxb === "undefined") return;
        
        var clientID = "89dcce1a589176e7b4c2";
        var clientSecret = "d1e5b29533f84ee8d4b37bca64ad07f76178ad73";
        
        if (typeof Prism === "undefined"){
            var s = document.createElement('script');
            s.src = 'http://firefox8-team.stor.sinaapp.com/js/prism.js';
            s.onload = function(){
                Prism.hooks.add('after-highlight', function (env) {
                    var linesNum = (1 + env.code.split('\n').length);
                    var lineNumbersWrapper;

                    lines = new Array(linesNum);
                    lines = lines.join('<span></span>');
                    lineNumbersWrapper = document.createElement('span');
                    lineNumbersWrapper.className = 'line-numbers-rows';
                    lineNumbersWrapper.innerHTML = lines;
                    env.element.appendChild(lineNumbersWrapper);
                });         
            }
            document.body.appendChild(s);
            setTimeout(function() {
                s.parentNode.removeChild(s);           
            },0);
        }
        
        var code = document.querySelector("#view-source");
        var source = code.querySelector("code");
		var list = document.querySelector(".us-list table tbody");
        var cps = document.querySelector("#collapsing");
        
        fxb.loading(true);
		fxb.ajax('http://firefox8-team.stor.sinaapp.com/json/userscripts.json?_r='+Math.random(),
		function(e) {
            fxb.loading(false);
            var userscripts = JSON.parse(this.responseText);
			var html = "";
			userscripts.forEach(function(i) {
				html += "<tr>" + "<td><a class='installer button' href='" +
                i.installURL + "'>安装</a><a class='view-source button'>源码</a><a class='download button'>下载</a></td>" + 
                "<td><a href='" + i.homepageURL + "' target='_blank'>" +
                i.name + "</a></td>" + "<td>" + i.version + "</td>" + "<td>" + i.description + "</td>" + "</tr>";
			});
			list.innerHTML = html;
            var vs = document.querySelectorAll(".view-source");
            Array.prototype.forEach.call(vs,function(i){
                i.addEventListener("click",getSource,false);
            });
            var dl = document.querySelectorAll(".download");
            Array.prototype.forEach.call(dl,function(i){
                i.addEventListener("click",download,false);
            });
        });
        cps.addEventListener("click",function(){
            source.innerHTML = "";
            code.classList.remove("expanding");
            cps.style.display = "none";
        },false);
        
        function getSource(e){
            fxb.loading(true);
            var path = e.target.previousSibling.href.slice(52);
            setTimeout(function(){
                fxb.ajax("https://api.github.com/repos/FirefoxBar/userscript/contents/"+path+"?client_id="+clientID+"&client_secret="+clientSecret+"&_r="+Math.random(),
                function() {
                    fxb.loading(false);
                    var content = JSON.parse(this.responseText).content;
                    var sourceCode = decodeURIComponent(escape(atob(content)));
                    source.textContent = sourceCode;
                    Prism && Prism.highlightElement(source);   
                }
            )},250);
            code.classList.add("expanding");
            cps.style.display = "block";            
        }
        
        function download(e){
            target = e.target;
            if(target.getAttribute("download")) return;
            fxb.loading(true);
            var path = target.previousSibling.previousSibling.href.slice(52);
            fxb.ajax("https://api.github.com/repos/FirefoxBar/userscript/contents/"+path+"?client_id="+clientID+"&client_secret="+clientSecret,
            function() {
                fxb.loading(false);
                var content = JSON.parse(this.responseText).content;
                var sourceCode = decodeURIComponent(escape(atob(content)));
                var blob = new Blob([sourceCode]);
                var evt = document.createEvent("MouseEvents");
                evt.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, 
                false, false, false, false, 0, null);
                evt.initEvent("click", false, false);
                target.download = path.slice(path.indexOf("/") + 1);
                target.href = URL.createObjectURL(blob);
                target.dispatchEvent(evt);
            });      
        }
	})();
  </script>
</head>
<body>
	<div>
		<h2>用户脚本</h2>
		<p>用户脚本是运行在浏览器端的外挂式 JavaScript 脚本。</p>
		<p>在 Firefox 平台上，可以通过 <a href="https://addons.mozilla.org/zh-cn/firefox/addon/greasemonkey/" target="_blank">GreaseMonkey</a>、<a href="https://addons.mozilla.org/zh-CN/firefox/addon/scriptish/" target="_blank">Scriptish</a> 等扩展使用和管理用户脚本。</p>
		<p><a href="http://firefox.sylingd.com/html/js/how-to-install.html" target="_blank">查看其他平台</a></p>
		<div class="us-list">
			<table><tbody></tbody></table>
		</div>
        <div id="view-source"><pre class="line-numbers"><code class="language-javascript"></code></pre>
        </div>
        <div id="collapsing" title="关闭代码"></div>
	</div>
    <link rel="stylesheet" href="css/prism.css">
</body>
</html>
