<!DOCTYPE html>
<html>
<head>
  <title>用户样式 - Firefox 吧项目组</title>
  <meta charset="utf-8" />
  <script class="redirect">location.replace('/#userstyles');</script>
</head>
<body>
  <div>
    <h2>用户样式</h2>
    <p>用户样式是运行在浏览器端的外挂式 CSS 样式。</p>
    <p>在 Firefox 平台上，主要通过原生的 <a href="http://www-archive.mozilla.org/unix/customizing.html#userChrome" target="_blank">userChrome.css</a> 文件、<a href="http://www-archive.mozilla.org/unix/customizing.html#userContent" target="_blank">userContent.css</a> 文件和 <a href="https://addons.mozilla.org/zh-CN/firefox/addon/stylish/" target="_blank">Stylish</a> 等扩展对用户脚本进行使用和管理。</p>
    <div class="us-list">
    </div>
  </div>
</body>
</html>
