<!DOCTYPE html>
<html>
<head>
	<title>用户脚本 - Firefox 吧项目组</title>
	<meta charset="utf-8">
	<script class="redirect">location.replace('/#userscripts');</script>
	<script class="exec">
    (function() {
		if (typeof fxb === "undefined") return;
        
        if (typeof Prism === "undefined"){
            var s = document.createElement('script');
            s.src = '/assets/vendor/js/prism.js';
            s.onload = function(){
                Prism.hooks.add('after-highlight', function (env) {
                    var linesNum = (1 + env.code.split('\n').length);
                    var lineNumbersWrapper;

                    lines = new Array(linesNum);
                    lines = lines.join('<span></span>');
                    lineNumbersWrapper = document.createElement('span');
                    lineNumbersWrapper.className = 'line-numbers-rows';
                    lineNumbersWrapper.innerHTML = lines;
                    env.element.appendChild(lineNumbersWrapper);
                });         
            }
            document.body.appendChild(s);
            setTimeout(function() {
                s.parentNode.removeChild(s);           
            },0);
        }
        
        var code = document.querySelector("#view-source");
        var source = code.querySelector("code");
		var list = document.querySelector(".us-list table tbody");
        var cps = document.querySelector("#collapsing");
        
        fxb.loading(true);
		fxb.ajax('https://userscript.firefoxcn.net/api/list.json',
		function(e) {
            fxb.loading(false);
            var userscripts = JSON.parse(this.responseText);
			var html = "";
			userscripts.forEach(function(i) {
				html += "<tr>" + "<td class='install-btns'><a title='安装' class='installer button' href='" +
                i.installURL + "'><i class='iconfont icon-install'></i></a><a title='查看源代码' class='view-source button'><i class='iconfont icon-source'></i></a><a title='下载' class='download button'><i class='iconfont icon-download'></i></a></td>" + 
                "<td><a href='" + i.homepageURL + "' target='_blank' class='name'>" +
                i.name + "</a></td>" + "<td>" + i.version + "</td>" + "<td>" + i.description + "</td>" + "</tr>";
			});
			list.innerHTML = html;
            Array.prototype.forEach.call(list.querySelectorAll("a.view-source"), function(i){
                i.addEventListener("click", getSource, false);
            });
            Array.prototype.forEach.call(list.querySelectorAll("a.download"), function(i){
                i.addEventListener("click", download, false);
            });
            Array.prototype.forEach.call(list.querySelectorAll("a.installer"), function(i){
                i.addEventListener("click", function() {
					_hmt.push(['_trackEvent', 'userscript', 'install', this.parentElement.parentElement.querySelector('.name').innerHTML]);
				}, false);
            });
        });
        cps.addEventListener("click",function(){
            source.innerHTML = "";
            code.classList.remove("expanding");
            cps.style.display = "none";
        },false);
        
        function getSource(){
			_hmt.push(['_trackEvent', 'userscript', 'viewsource', this.parentElement.parentElement.querySelector('.name').innerHTML]);
            var url = this.parentElement.parentElement.querySelector('.installer').href;
            fxb.loading(true);
            setTimeout(function(){
                fxb.ajax(url + "?_r=" + Math.random(),
                function() {
                    fxb.loading(false);
                    var sourceCode = this.responseText;
                    source.textContent = sourceCode;
                    Prism && Prism.highlightElement(source);
                }
            )},250);
            code.classList.add("expanding");
            cps.style.display = "block";
        }
        
        function download(e){
			var _this = this;
			_hmt.push(['_trackEvent', 'userscript', 'download', this.parentElement.parentElement.querySelector('.name').innerHTML]);
            if (_this.getAttribute("download")) return;
            var url = this.parentElement.parentElement.querySelector('.installer').href;
            fxb.loading(true);
            fxb.ajax(url + "?_r=" + Math.random(),
            function() {
                fxb.loading(false);
                var sourceCode = this.responseText;
                var blob = new Blob([sourceCode]);
                var evt = document.createEvent("MouseEvents");
                evt.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, 
                false, false, false, false, 0, null);
                evt.initEvent("click", false, false);
                _this.download = path.slice(path.indexOf("/") + 1);
                _this.href = URL.createObjectURL(blob);
                _this.dispatchEvent(evt);
            });      
        }
	})();
  </script>
</head>
<body>
	<div>
		<h2>用户脚本</h2>
		<p>用户脚本是运行在浏览器端的外挂式 JavaScript 脚本。</p>
		<p>在 Firefox 平台上，可以通过 <a href="https://addons.mozilla.org/zh-cn/firefox/addon/greasemonkey/" target="_blank">GreaseMonkey</a>、<a href="https://addons.mozilla.org/zh-CN/firefox/addon/tampermonkey/" target="_blank">TamperMonkey</a>、<a href="https://addons.mozilla.org/zh-CN/firefox/addon/violentmonkey/" target="_blank">Violentmonkey</a>、<a href="https://addons.mozilla.org/zh-CN/firefox/addon/scriptish/" target="_blank">Scriptish</a> 等扩展使用和管理用户脚本。</p>
		<p><a href="https://github.com/FirefoxBar/userscript/issues/new/choose" target="_blank">报告脚本问题</a></p>
		<div class="us-list">
			<table><tbody></tbody></table>
		</div>
        <div id="view-source"><pre class="line-numbers"><code class="language-javascript"></code></pre>
        </div>
        <div id="collapsing" title="关闭代码"></div>
	</div>
	<div id="spider">
		<ul>
			<li>Tieba Client：模拟贴吧客户端发帖</li>
			<li>Tieba Quick Reply：贴吧列表页快速回复</li>
			<li>Tieba Private：自动清除贴吧访问记录</li>
			<li>Automatically Pause Video：视频自动播放/暂停</li>
			<li>Tieba Lzl Dialogue：贴吧楼中楼弹出框查看回复</li>
			<li>Tieba Kuso：贴吧头像恶搞</li>
			<li>Post Del Robot：删帖机器人</li>
			<li>163 Music HTML5 Player：网易云音乐HTML5播放器</li>
			<li>163 Music High Quality Support：网易云音乐高音质支持</li>
		</ul>
	</div>
    <link rel="stylesheet" href="assets/vendor/css/prism.css">
</body>
</html>
